# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Secrets and env
.env
secrets.yml
